// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book-tableau{
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;

  .index-book{
    display: flex;
    padding: 5px;
    flex-grow: 1;

    .book-cover{
      width: 200px;
      height: 300px;
      border-radius: 3px;
      transition: all .2s ease-in-out;
    }

    .book-cover:hover{
      box-shadow: 5px 5px 5px #6a6e75;
      transform: scale(1.02);
      cursor: pointer;
    }
  }
}

.book-show-box {
  .not-description{
    display: flex;
    flex-direction: row;
    align-items: center;

    .book-info{
      font-size: 18px;
      flex-direction: column;
      justify-content: center;
      padding-left: 80px;
    }

    img{
      display: flex;
      width: 120px;
      height: 180px;
    }
  }
}
