// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book-tableau{
  margin: 0px 20px 0px 20px;
  border: 1px solid black;

  .index-book{
    display: inline-block;
    object-fit: contain;
    margin: 5px;
    font-size: 10px;

    .book-cover{
      width: 200px;
      height: 300px;

    }

    .book-cover:hover{
      background-color: #fafafa;
      transform: scale(1.01);
      cursor: pointer;
      box-shadow: 10px 10px 40px rgba(0,0,0,0.5);
    }
  }
}
