// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book-tableau{
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .index-book{
    display: inline-block;
    font-size: 10px;
    overflow: hidden;
    margin: 3px;

    .book-cover{
      width: 200px;
      height: 300px;
    }

  }
}

.book-cover:hover{
  box-shadow: 5px 10px black;
  transform: scale(1.01);
  cursor: pointer;
}

.book-show-box {
  .not-description{
    display: flex;
    flex-direction: row;
    align-items: center;

    .book-info{
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 80px;
    }

    img{
      display: flex;
      width: 120px;
      height: 180px;
    }
  }
}
