// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  height: 60px;
  background-color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 500;

  .header-link {
    min-width: 150px;
    margin-top: 8px;
    font-size: 25px;
    display: flex;
  }

  .icon{
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0px 14px 8px 15px;
  }

  .nav-right {
    margin-top: 13px;
    font-size: 14px;
    }
    .signup-button{
      font-size: 10px;
    }
    .signup-button:hover{
      cursor: pointer;
    }
    .header-name {
      margin-right: 20px;
      margin-bottom: 3px;
    }
    .header-button {
      margin-bottom: 7px;
    }
    .session-form {
      min-width: 280px;

      .errors {
        li{
          font-size: 11px;
          color: #ff8080;
        }
      }

      label input {
        font-size: 10px;
        border: #999 1px solid;
        padding: 5px;
        border-radius: 3px;
        background-color: #fafafa;
        margin: 0px 3px 3px 0px;
        width: 80px;
      }

      button {
        margin-left: 0px;
        background-color: white;
        color: #999;
        border-radius: 1px;
        text-align: center;
        width: 35px;
        height: 15px;
        padding: 2px;
        font-size: 10px;
      }
  }
}

html {
    background-color: #fafafa;
}
