// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  font-size: 8px;
  font-weight: 500;

  .header-link {
    margin-top: 10px;
    font-size: 25px;
    display: flex;
  }

  .icon{
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0px 6px 0px 15px;
  }

  .nav-right {

    }
    .signup-button:hover{
      cursor: pointer;
    }

    .session-form {
      margin-top: 5px;

      .errors {
        li{
          color: #ff8080;
        }
      }

      label input {
        font-size: 10px;
        border: #999 1px solid;
        padding: 5px;
        border-radius: 3px;
        background-color: #fafafa;
        margin: 0px 3px 3px 0px;
        width: 80px;
      }


      button {
        margin-left: 0px;
        background-color: white;
        color: #999;
        border-radius: 1px;
        text-align: center;
        width: 35px;
        height: 15px;
        padding: 2px;
        font-size: 10px;
      }
  }
}

html {
    background-color: #fafafa;
}

.signup-form{
  display: block;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  min-width: 400px;

  .form{
    justify-content: space-between;
    label input {
      font-size: 14px;
      border: #999 1px solid;
      padding: 8px;
      border-radius: 3px;
      background-color: #fafafa;
      margin: 0px 3px 3px 0px;
      width: 80px;
    }
  }
}
